# This file shall be placed in 
# /etc/systemd/system
[Unit]
Description=Raspberry Pi radio

[Service]
ExecStart=/usr/bin/python3 /root/dietpi-radio/radio.py

[Install]
WantedBy=multi-user.target
